<h1> Help page </h1>

<p>This page is a place holder for the help section. This is a sample application developed by
  <a href="http://lifewithdatabases.tumblr.com">Arun Srinivasan </a></p>
  <p>Please contact him via <a href="mailto:arunrocks@gmail.com">email </a> or via
    voice at <italic><bold>214-490-4194</bold></italic></p>