<h1>Sample App</h1>

<p>This is the sample application done by <a href="http://lifewithdatabases.tumblr.com">Arun Srinivasan</a>
</p>

<%= link_to "Signup now", '#', :class => "signup_button round" %>  
